PORT=4500
MONGO_URI=your mongodb uri
JWT_SECRET=your jwt secret

EMAIL_USER=your email address
EMAIL_PASS=xxxx xxxx xxxx

GOOGLE_API_KEY=your google api key

# Cloudinary Storage Config
CLOUDINARY_CLOUD_NAME=cloud name
CLOUDINARY_API_KEY=cloudinary api key
CLOUDINARY_API_SECRET=cloudinary api secret

CORS_ORIGIN=server url